<%- include('../partials/header') %>

  <h3>Skills as of <%= time %></h3>

  <ul>
    <% skills.forEach(function(s) { %>
      <li>
        <a href="/skills/<%= s.id %>"><%= s.skill %></a>
        - 
        <%= s.mastered ? 'mastered' : 'not mastered' %>
      </li>
    <% }); %>
  </ul>

  <br>
  
  <form action="/skills/new" class="add-form">
    <button type="submit">ADD SKILL</button>
  </form>
  
<%- include('../partials/footer') %>